<div class="container" (keydown)="handleevent($event)">
    <header>
        <div class="header-container centerFlex">
            <a class='start-btn hvr-back-pulse' [routerLink]="['/highscores']" routerLinkActive="router-link-active"  >
                HighScore
            </a>
            <h1 class="start-header">Welcome to the Numbers Memory Game</h1>
            <!-- <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="John Doe">
            </mat-form-field> -->
            <input type="text" class="name-input" placeholder=" Enter your name" [(ngModel)]="name" autofocus #namefield> {{namefield.focus()}}
            <a class='start-btn hvr-back-pulse' (click)="startGame()" >
                Start
            </a>
        </div>
    </header>
</div>