
.container {
    padding-top: 17%;
}

.head-container {
    height: 100%;
    width: 100%;
    display: block;
}

.centerFlex {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.start-header {
    font-size: 3rem;
    line-height: 1.1;
    color: aliceblue;
    margin: 20px;
    text-align: center;
}

.name-input {
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    border-radius: 100px;
    background: rgba(0, 0, 100, 0.2);
    border: 1px solid #4c00ff;
    outline: 0px !important;
    background: none;
}

.start-btn {
    top: 10px;
    display: inline-block;
    color: #fff;
    padding: 1rem 4rem;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: large;
    margin: 20px;
    text-align: center;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      overflow: visible;
    }

    .container{
        width: 100%;
    }

    .start-header{
        text-align: center;
        width: 100%;
    }
    
    .name-input{
        margin-top: 20px;
        width: 80%;
        font-size: 30px;
    }

    .start-btn{
        margin-top: 50px;
        text-align: center;
        width: 80%;
        background-color: green;
    }
  }

  @media only screen and (max-height: 500px) {
      .container{
          padding-top: 0px;
      }

      .start-header {
        font-size: 2rem;
      }

      .name-input{
          font-size: 30px;
      }

      .start-btn {
        top: 10px;
        padding: 0.5rem 2rem;
        font-size:medium;
        margin: 10px;
        width: 80%;
    }
  }