<div *ngIf="showMode === true">
    <div class="container">
        <section class="section-container centerFlex">
            <div class="main-container">
                <h1 class="number-header">Try to remember this number </h1>
                <h2 class="actual-number">{{actualNumber}}</h2>
                <hr class="timestyle">
            </div>
        </section>
    </div>
</div>

<div *ngIf="showMode === false">
    <div class="container">
        <section class="section-container centerFlex">
            <div class="main-container">
                <h1 class="number-header">What was the number? </h1>
                <input type="text" class="number-input" [(ngModel)]="usernumber">
            </div>
            <button type="button" (click)="checkNumber()" (keydown.enter)="checkNumber()">Submit</button>
        </section>
    </div>
</div>